{% extends "base.njk" %}

{% block body %}
    <main>
        <article class="hero">
            {% block header %}
                
            {% endblock header %}
        </article>

        <article class="about">
            {% block about %}
                
            {% endblock about %}
        </article>

        <article class="work">
            {% block work %}
                
            {% endblock work %}
        </article>

        <article class="services">
            {% block services %}
                
            {% endblock services %}
        </article>

        <article class="skills">
            {% block skills %}
                
            {% endblock skills %}
        </article>
    </main>
{% endblock body %}