---
body__class: "detail"
---

{% extends "base.njk" %}

{% block body %}
    <main class="details">
    <article class="hero">
        {% block header %}
            <img class="head_image" src="/assets/images/{{ image }}" alt="{{image}}">
            <div class="details__title">
                <h1>
                    {{title}}
                </h1>
                <h2>
                    {{subtitle}}
                </h2>
            </div>
            
        {% endblock header %}
    </article>

    <article class="info">
        {% block info %}
            {{content | safe}}
        {% endblock info %}
        </article>
    </main>
    
{% endblock body %}