---
page_title: "Tristan De Ridder"
body__class: "home"
---
{% extends "block.njk" %}

{% import "components/images.njk" as i %}
{% import "components/card.njk" as c %}

{% block header %}
    <header>
        <h1 class="hidden"></h1>
        <p class="h1">Embark on a voyage</p>
        <p class="h1_sub"> through my digital realm.</p>
        <span class="hero__span1"></span>
        <span class="hero__span2"></span>
        <span class="hero__span3"></span>
    </header>
{% endblock header %}

{% block about %}
    <h2 id="about">About</h2>
    <div class="about__content">
        <div>
            <p>
                Take a look into my realm and witness the passion of my coding and design projects come to life, or rather, to pixels. My name is Tristan, a 19-year-old programming student at Artevelde University of Applied Sciences in Ghent.
            </p>
            <p>
                Within my portfolio, you’ll discover a diverse array of projects, including websites created for school assignments and businesses, as well as photography and more.
            </p>
            <p>
                Through these projects, I aim to showcase my skills and ultimately secure a job as a full-stack developer. This would enable me to engage in both aspects of development that I enjoy, front-end and back-end.
            </p>
            <p>
                Now, let’s delve into it.
            </p>
        </div>
        {{i.image("portfolio_image.png")}}
    </div>
    <span class="about__span1"></span>
    <span class="about__span2"></span>

{% endblock about %}

{% block work %}
    <h2 id="work">Work</h2>
    <div>
        {{i.image("bug.jpg")}}
        <a class="project__link" href="">Demon Hunter / Storytelling / Concept</a>
    </div>
    <div class="work__align">
        <div>
            {{i.image("photography-1.jpg")}}
            <a class="project__link" href="">Photography</a>
        </div>
        <div>
            {{i.image("photography-2.jpg")}}
            <a class="project__link" href="">Photography</a>
        </div>
    </div>
    <div>
        {{i.image("3D-2.jpg")}}
        <a class="project__link" href="">3D-World</a>
    </div>
    <a class="other__projects" href="./projects">More projects</a>

    <span class="work__span1"></span>
    <span class="work__span2"></span>

{% endblock work %}

{% block services %}
    <h2 id="services">Services</h2>
    <div class="service__text">
        <h2>{{service_title}}</h2>
        <div class="service">
            {% for service in collections.services %}
                <li class="service__border">
                    {{c.card(service.data.class, service.data.main_title, service.data.strong, service.data.text)}}
                </li>
            {% endfor %}
        </div>
    </div>

{% endblock services %}

{% block skills %}
    <h2 id="skills">Skills</h2>
    <div class="skills__listing">
        <div>
            {{i.image("svg/html-icon.svg")}}
        </div>
        <div>
            {{i.image("svg/css-icon.svg")}}
        </div>
        <div>
            {{i.image("svg/javascript-icon.svg")}}
        </div>
        <div>
            {{i.image("svg/php-icon.svg")}}
        </div>
        <div>
            {{i.image("svg/database-icon.svg")}}
        </div>
        <div>
            {{i.image("svg/photoshop-icon.svg")}}
        </div>
        <div>
            {{i.image("svg/illustrator-icon.svg")}}
        </div>
        <div>
            {{i.image("svg/blender-icon.svg")}}
        </div>
    </div>

    <span class="skill__span1"></span>

{% endblock skills %}