---
page_title: "Tristan De Ridder"
---
{% extends "block.njk" %}

{% import "components/images.njk" as i %}
{% import "components/card.njk" as c %}

{% block header %}
    <header>
        <h1 class="hidden"></h1>
        <p class="h1">Embark on a voyage</p>
        <p class="h1_sub"> through my <strong>digital</strong> realm.</p>
        <span class="hero__span1"></span>
        <span class="hero__span2"></span>
        <span class="hero__span3"></span>
    </header>
{% endblock header %}

{% block about %}
    <h2>About</h2>
    <div class="about__content">
        <div>
            <p>
                <strong>Take a look into my realm an</strong>d witness the passion of my coding and design projects come to life, or <strong>rather, to pixels. My name is Tr</strong>istan, a 19-year-old programming student at Artevelde University of Applied Sciences in Ghent.
            </p>
            <p>
                <strong>Within my portfolio, you’ll discover </strong> a diverse array of projects, including websites created for school <strong>assignments and businesses, as w</strong>ell as photography and more.
            </p>
            <p>
                <strong>Through these projects, I aim to sh</strong>owcase my skills and ultimately secure a job as a full-stack <strong>developer. This would enable me t</strong>o engage in both aspects of development that I enjoy, front-end and back-end.
            </p>
            <p>
                <strong>Now, let’s delve into it.</strong>
            </p>
        </div>
        {{i.image("portfolio_image.png")}}
    </div>
    <span class="about__span1"></span>
    <span class="about__span2"></span>

{% endblock about %}

{% block work %}
    <h2>Work</h2>
    <div>
        {{i.image("bug.jpg")}}
        <a href="">Demon Hunter / Storytelling / Concept</a>
    </div>
    <div class="work__align">
        <div>
            {{i.image("photography-1.jpg")}}
            <a href="">Photography</a>
        </div>
        <div>
            {{i.image("photography-2.jpg")}}
            <a href="">Photography</a>
        </div>
    </div>
    <div>
        {{i.image("3D-2.jpg")}}
        <a href="">3D-World</a>
    </div>
    <a href="">More projects</a>

{% endblock work %}

{% block services %}
    <h2>Services</h2>
    <div class="service__text">
        <h2>{{service_title}}</h2>
        <div class="service">
            {% for service in collections.services %}
                <li class="service__border">
                    {{c.card(service.data.class, service.data.main_title, service.data.strong, service.data.text)}}
                </li>
            {% endfor %}
        </div>
    </div>

{% endblock services %}

{% block skills %}
    <h2>Skills</h2>
    <div class="skills__listing">
        <div>
            {{i.image("html-icon.svg")}}
        </div>
        <div>
            {{i.image("css-icon.svg")}}
        </div>
        <div>
            {{i.image("javascript-icon.svg")}}
        </div>
        <div>
            {{i.image("php-icon.svg")}}
        </div>
        <div>
            {{i.image("database-icon.svg")}}
        </div>
        <div>
            {{i.image("photoshop-icon.svg")}}
        </div>
        <div>
            {{i.image("illustrator-icon.svg")}}
        </div>
        <div>
            {{i.image("blender-icon.svg")}}
        </div>
    </div>

{% endblock skills %}