---
page_title: "Projects"
body__class: "project"
---
{% extends "grid.njk" %}

{% import "components/images.njk" as i %}

{% block header %}
    <h1>My Work</h1>
    <ul>
        <li>Projects</li>
        <li>Concepts</li>
        <li>3D-Builds</li>
        <li>Photography</li>
    </ul>
{% endblock header %}

{% block work %}
    <div class="finished">
        <h2>Projects</h2>
        <div class="project__grid container">
            <div>
                {{i.image("school-of-talent-1.jpg")}}
                <a href="school-of-talent-1">School of Talent</a>
            </div>
            <div>
                {{i.image("pulse.jpg")}}
                <a href="pulse">Pulse Web Development</a>
            </div>
            <div>
                {{i.image("waves.jpg")}}
                <a href="waves">Waves</a>
            </div>
            <div>
                {{i.image("Rock-Wechter.jpg")}}
                <a href="rock-wechter">Rock Wechter</a>
            </div>
            <div>
                {{i.image("database.jpg")}}
                <a href="database">Car Database</a>
            </div>
            <div>
                {{i.image("school-of-talent-2.jpg")}}
                <a href="school-of-talent-2">School of Talent</a>
            </div>
        </div>
    </div>
    
    <div class="concept">
        <h2>Concepts</h2>
        <div class="project__grid container">
            <div>
                {{i.image("museum.jpg")}}
                <a href="museum">Lost & Found Museum</a>
            </div>
            <div class="concept__div">
                <div class="project__collection">
                    {{i.image("ui.jpg")}}
                    <a href="ui">Celestial Getaway / Travel Agency</a>
                </div>
                <div>
                    {{i.image("bug.jpg")}}
                    <a href="bug">Demon Hunter / Storytelling</a>
                </div>
            </div>
            <div>
                {{i.image("gymflow.jpg")}}
                <a href="gymflow">GymFlow</a>
            </div>
        </div>
    </div>
    
    <div class="3d">
        <h2>3D-Builds</h2>
        <div class="d__container container">
            <div class="project__flex">
                {{i.image("3D-1.jpg")}}
                {{i.image("3D-2.jpg")}}
            </div>
                {{i.image("3D-3.jpg")}}
                {{i.image("3D-4.jpg")}}
        </div>
    </div>
    
    <div class="photo">
        <h2>Photography</h2>
        <div class="photography__container container">
            {{i.image("photography-1.jpg")}}
            <div class="project__flex">
                {{i.image("photography-2.jpg")}}
                {{i.image("photography-3.jpg")}}
            </div>
            <div class="project__flex">
                {{i.image("photography-4.jpg")}}
                {{i.image("photography-5.jpg")}}
            </div>
            {{i.image("photography-6.jpg")}}
            {{i.image("photography-7.jpg")}}
            {{i.image("photography-8.jpg")}}
            {{i.image("photography-9.jpg")}}
            {{i.image("photography-10.jpg")}}
        </div>
    </div>

{% endblock work %}