{% import "components/images.njk" as i %}

<footer>
    <div>
        <p>Say Hello</p>
        <ul class="contact">
            <li>tristanderidder1@gmail.com</li>
            <li>0492048382</li>
        </ul>
    </div>
    <ul>
        <li>{{i.image("linkedin.png")}}</li>
        <li>{{i.image("instagram.png")}}</li>
        <li>{{i.image("github.png")}}</li>
        <li>{{i.image("mail.png")}}</li>
        <li>{{i.image("pulse.png")}}</li>
    </ul>
</footer>