{% import "components/images.njk" as i %}

<nav>
    <ul>
        <li>About</li>
        <li>Projects</li>
        <li>Services</li>
        <li>Skills</li>
        <li>Contact</li>
    </ul>
    <ul>
        <li>{{i.image("linkedin.png")}}</li>
        <li>{{i.image("instagram.png")}}</li>
        <li>{{i.image("github.png")}}</li>
        <li>{{i.image("mail.png")}}</li>
        <li>{{i.image("pulse.png")}}</li>
    </ul>
</nav>