{% import "components/images.njk" as i %}

<nav>
    <div class="nav-collective">
        <div class="nav-normal">
            <ul class="solo-list">
                <li>
                    <a href="/#about">About</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/#services">Services</a>
                </li>
                <li>
                    <a href="/#skills">Skills</a>
                </li>
                <li>
                    <a href="/#contact">Contact</a>
                </li>
            </ul>
            <ul class="solo-list">
                <li>
                    <a href="https://www.linkedin.com/in/tristan-de-ridder/">{{i.image("svg/linkedin.svg")}}</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tristan.deridder/">{{i.image("svg/instagram.svg")}}</a>
                </li>
                <li>
                    <a href="https://github.com/TristanDeRidder">{{i.image("svg/github.svg")}}</a>
                </li>
                <li>
                    <a href="mailto: tristanderidder1@gmail.com">{{i.image("svg/mail.svg")}}</a>
                </li>
                <li>
                    <a href="https://pulse-five-lac.vercel.app/">{{i.image("svg/pulse.svg")}}</a>
                </li>
            </ul>
        </div>
        <a href="" class="nav-hamburger">
            <span class="long rotateL"></span>
            <span class="short"></span>
            <span class="long rotateR"></span>
        </a>
    </div>

    <div class="nav-overlay">
        <ul class="solo-list-open">
            <li>
                <a href="/#about">About</a>
            </li>
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/#skills">Skills</a>
            </li>
            <li>
                <a href="/#contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>